<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Skin Checkr.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EFEB61362E17E71D001485C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFEB61442E17E71E001485C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EFEB614E2E17E71E001485C1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
